/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/
html, body {
	background-color: #FEFAE9;
	/*height: 100%;*/
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-size: 2em;
	font-family: "Times New Roman";
	color: #AA4242;
	font-style: italic;
}

h3, h4, h5, h6 {
	font-family: "Times New Roman";
	color: #3F3E3A;
	margin-left: .5em;
}

h3 {
	font-size: 1.5em;
	margin-left: .5em;
}

h4 {
	font-size: 1.2em;
}

p, td, th {
	color: #3F3E3A;
	font-family: "Times New Roman";
	font-size: 1em;
}

em {
	font-style: italic;
}

header {
	text-align: center;
}

nav a {
	background-color: #3F3E3A;
	color: #FEFAE9;
	padding-left: .2em;
	padding-right: .2em;

}


#wrapper {
	margin: 1em;
	border-width: 2px;
	border-style: solid;
	border-color: #C5C3BC;
	border-radius: 2px;
	/*height: 100%;*/
}

#contentsdiv {
	/*overflow-y: scroll;*/
	/*height: 50%;*/
	margin: .75em;
	border-style: solid;
	border-color: #3F3E3A;
	border-width: 2px;
}

.section, .mapholder {
	margin: .75em;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: .5em;
}

/*div for map on home page*/
.mapholder {
	/*text-align: center;*/
	height: 400px;
}


/*immediate div for map on home page*/
#collectionmap {
	height: 90%;
	width: 50%;
	margin: .5em;
	display: inline-block;
	text-align: left;
}

/*div for map on individual "place" page*/
.placemapholder {
	text-align: right;
	display: inline-block;
	width: 48%;
	height: 500px;
	
	/*height: 100%;*/
}

/*immediate div for map on individual "place" page*/
#map {
	height: 100%;
	/*width: 100%;*/
	text-align: right;
}

.mstable {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	width: 48%;
	height: 500px;
	overflow-y: scroll;
}
/*div for graphs on home page*/
.attrvis {
	height: 100%;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

header {
	margin: .75em;
}

footer {
	border-top: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: .5em;
	margin: .75em;
	clear: both;
	display: inline-block;
}
footer *{
	display: inline-block;
	margin: .5em;
}

img.logo {
	height: 49px;
}

table, th, td {
	vertical-align: top;
	border-width: 2px;
	border-style: solid;
	border-color: #C5C3BC;
	border-collapse: collapse;
	padding: 3px;
	/*margin: 2px;*/
}

.contentstable {
	margin: .75em;
}

th *{
	font-weight: bold;
}


b {
	font-weight: bold;
}

ol, ul {
	margin: .75em;
}

li {
	padding-bottom: .2em;
}


/* for d3 graph vis */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.label {
	font-family: sans-serif;
	font-size: .5em;
}

#textvis, #relationvis {
	max-width: 50%
	max-height: 100%;
	/*height: 300px;*/
	text-align: center;
}

/* for d3 histogram vis (front page) */

.bar { 
	fill: steelblue;
}
.bar:hover {
	fill:brown;
}

svg text {
	fill: black;
	font: 10px sans-serif;
	text-anchor: end;
}
.axislabel {
	fill: black;
	font: 15px sans-serif;
	text-anchor: middle;
}

/*tooltip style and code from Steve Hall, http://projects.delimited.io/experiments/chord-diagrams/hair.html */
.tooltip {
    color: white;
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.viscontext {
	display: inline-block;
	max-width: 40%;
	vertical-align: 150%;
}
/*
#graphcanvas {
	max-width: 50%
	max-height: 100%;
}
*/