{% extends "base.html" %}
{% block content %}
<div class="section">
<h2>About the Project</h2>

<p>"Manuscripts of the Robbins Collection" was created in 2016 by Jordan Shedlock as a final project for the Master in Information Management and Systems degree at the UC Berkeley School of Information, advised by Robert Glushko and in cooperation with Andrea Quinn and Jennifer K. Nelson of the Robbins Collection.  Robbins Collection Director Laurent Mayali, Berkeley Law Library Director Kathleen Vanden Heuvel, and the Dean of the UC Berkeley School of Law provided generous support and encouragement. </p>

<p>The application is based on descriptions created by the following catalogers:</p>
<ul>
<li>Jennifer K. Nelson</li>
<li>Luminita Florea</li>
<li>Silvia Donghi</li>
<li>Kathleen A. Stewart</li>
<li>Alexandre M. Roberts</li>
<li>Ana E. Enriquez</li>
<li>Pamela Diaz</li>
<li>Saul M. Friedman</li>
<li>Tyler Lange</li>
<li>Jesse W. Torgerson</li>
<li>Thalia Anagnostopoulos</li>
<li>Emanuele Conte</li>
<li>Paul Hamburg</li>
<li>Nicolas Laurent-Bonne</li>
<li>Linda Ogden</li>
</ul>

<p>The application is written in Python using the <a href="http://flask.pocoo.org/">Flask</a> framework and a <a href="http://sqlite.org/">SQLite</a> database.  It makes use of the <a href="http://flask-sqlalchemy.pocoo.org">Flask-SQLAlchemy</a>, <a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>, <a href="https://github.com/Ayrx/python-fastpbkdf2">fastpbkdf2</a>, and <a href="http://wtforms.readthedocs.io/en/latest/">WTForms</a> Python libraries, and incorporates <a href="https://d3js.org/">D3.js</a> visualizations.  Maps are embedded using the <a href="https://developers.google.com/maps/documentation/embed/">Google Maps API</a> and location data from <a href="http://www.geonames.org/">Geonames</a>.  Code is available <a href="https://github.com/jtshed2016/armarium_public">on Github</a>.</p>




</div>


{% endblock %}