<!DOCTYPE html>
<html>
	<head>
		<title>{{ pagetitle }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<div id="wrapper">
		<header>
			<h2>Manuscripts of the Robbins Collection</h2>
			{% block nav %}
			<nav>
				<a href="{{ url_for('homepage') }}">Home</a>
				<a href="{{ url_for('list_mss') }}">The Manuscripts</a>
				<a href="{{ url_for('list_people') }}">People</a>
				<a href="{{ url_for('list_places') }}">Places</a>
				<a href="{{ url_for('list_orgs') }}">Organizations</a>
				<a href="{{ url_for('list_watermarks') }}">Watermarks</a>
				<a href="{{ url_for('list_ex_works') }}">Works Citing the Manuscripts</a>
				<a href="https://www.law.berkeley.edu/library/robbins/">The Robbins Collection</a>
			</nav>
			{% endblock %}
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<a href="https://www.law.berkeley.edu/">
				<img class="logo" alt="Berkeley Law Logo" src="static/berkeleylaw.svg">
			</a>
			<a href="https://www.ischool.berkeley.edu/">
				<img class="logo" alt="Berkeley I School Logo" src="static/berkeleyischool-logo-blue-sm.png">
			</a>
			<p>© The Regents of the University of California, The Robbins Religious and Civil Law Collection, School of Law (Boalt Hall), University of California at Berkeley.  •  A Project of The Robbins Collection and the UC Berkeley School of Information</p>
		</footer>
	</div>
	</body>
</html>