{% extends "base.html" %}

{% block nav %}
			<nav>
				<a href="{{ url_for('list_mss') }}">The Manuscripts</a>
				<a href="{{ url_for('list_people') }}">People</a>
				<a href="{{ url_for('list_places') }}">Places</a>
				<a href="{{ url_for('list_orgs') }}">Organizations</a>
				<a href="{{ url_for('list_watermarks') }}">Watermarks</a>
				<a href="{{ url_for('list_subjects') }}">Subjects</a>
				<a href="{{ url_for('list_ex_works') }}">Works Citing the Manuscripts</a>
				<a href="https://www.law.berkeley.edu/research/the-robbins-collection/robbins-collection-library/">The Robbins Collection</a>
			</nav>
{% endblock %}

{% block content %}
	<div id="contentsdiv">
	{% if hometext != None %}
	<div id="welcometext" class="section">
		<p>{{ hometext.displaytext }}</p>
	</div>
	{% endif %}
	<div class="mapholder">
		<div id="collectionmap"></div>
		<script>

		function initCollMap() {
		var collectionMap = new google.maps.Map(document.getElementById('collectionmap'), {
			center: {lat: {{ avgLat }}, lng: {{ avgLon }} },
			zoom: 2,
			zoomControl: false,
			mapTypeControl: false,
			scaleControl: false,
			streetViewControl: false
		});

	var countrycircs;
	countrycircs = {{ places|safe }};

	for (country in countrycircs) {
		var countryCircle = new google.maps.Circle({
			strokeColor: '#FF0000',
			strokeOpacity: .8,
			strokeWeight: 2,
			fillColor: '#FF0000',
			fillOpacity: 0.35,
			url: '/place' + countrycircs[country].id,
			map: collectionMap,
			center: countrycircs[country].center,
			radius: 150000 + 1000*countrycircs[country].count 
		});
	google.maps.event.addListener(countryCircle, 'click', function() {
				window.location.href = this.url;
				});
	}
}
		
		
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9rloC3_q9b1ZwhocaDBpuXaXyJeZkKjk&callback=initCollMap"></script>
		<p><em>Circles indicate countries of origin of Robbins Collection manuscripts</em></p>
	</div>

	
	<script src="{{ url_for('static', filename = 'd3.v4.min.js') }}"></script>

	{% for chartobj in charts %}
	<div class="section" id="{{ chartobj['visHolderDiv'] }}">
		<div id="{{ chartobj['toolTipDiv'] }}" class="tooltip"></div>
		<svg id="{{ chartobj['visElement'] }}" width="400" height="300"></svg>
		<div class="viscontext">
		<h3>{{ chartobj['title'] }}</h3>
		<p>{{ chartobj['context'] }}</p>
		</div>
		{% if chartobj['chartname'] == 'people' %}
		<form id="relselect">
			<em>Display:</em>
			{% for reltype in reltypes %}
			<input type="checkbox" class="roleselect" name="{{ reltype }}" value="{{ reltype }}" {% if reltypes[reltype] == True %} checked="checked" {% endif %}>
			<label for="{{reltype}}">{{reltype}}</label>
			{% endfor %}
		</form>
		{% endif %}
	</div>

	<script>
	{% if chartobj['chartname'] == 'people' %}
	includeRels = {{ reltypes|tojson }}
	{% endif %}
	
	{{ chartobj['chartname'] + 'chartInfo' }} = {'chartName': "{{chartobj['chartname'] }}", 'visDiv': "{{ chartobj['visElement'] }}", 'toolTipDiv': "{{ chartobj['toolTipDiv'] }}", 'x_axis_id': "{{ chartobj['x_axis_id'] }}", 'x_axis_label': "{{ chartobj['x_axis_label'] }}", 'y_axis_label': "{{ chartobj['y_axis_label'] }}", 'maxValues':  "{{chartobj['max_values']}}", 'urlpath': "{{ chartobj['urlpath'] }}"}
	{{ chartobj['chartname'] + 'sourceData'}} = {{ chartobj['data']|safe }}

	renderHomeChart({{ chartobj['chartname'] + 'chartInfo' }}['chartName'], '#' + {{ chartobj['chartname'] + 'chartInfo' }}['visDiv'], '#' + {{ chartobj['chartname'] + 'chartInfo' }}['toolTipDiv'], {{ chartobj['chartname'] + 'chartInfo' }}['x_axis_id'], {{ chartobj['chartname'] + 'chartInfo' }}['x_axis_label'], {{ chartobj['chartname'] + 'chartInfo' }}['y_axis_label'], {{ chartobj['chartname'] + 'sourceData'}}, {{ chartobj['chartname'] + 'chartInfo' }}['urlpath'], {{ chartobj['chartname'] + 'chartInfo' }}['maxValues']);

	</script>

	{% endfor %}


	</div>

{% endblock %}