{% extends "base.html" %}
{% block content %}

<h3>{{org.name }}
</h3>
<br>

{% if suborgs|length >0 %}
<h4>Subordinate Organizations</h4>
<ul>
  {% for rel in suborgs %}
    
    <li>{{ rel }} - {% if suborgs[rel]|length == 1 %}MS {% else %} MSS {% endif %}
    {% for relms in suborgs[rel] %}
    <a href="ms{{ relms }}">{{ relms }}</a>
    {% if loop.last == False %},{% endif %} 
    {% endfor %}
    </li>
  {% endfor %}
</ul>
{% endif %}

<br>


{% if otherMSrel|length >0 %}
<h4>Relationships with Manuscripts: </h4>
<ul>
  {% for ms in otherMSrel %}
      <li><a href="ms{{ ms }}">Robbins MS{{ ms }}</a> - 
      {% for assoc in otherMSrel[ms] %}
      {{ assoc }}
      {% if loop.last == False %},{% endif %}
      {% endfor %}</li>
  {% endfor %}
<ul>
<br>
{% endif %}

<div class="section" id="relationvis">
</div>
<script src="static/d3.v4.min.js"></script>
<script>

//graph variables and update functions moved to script.js

var width = 800,
    height = 450;


var svg = d3.select("#relationvis").append("svg")
    .attr("id", "graphcanvas")
    .attr("width", width)
    .attr("height", height);

var graph = {{ graph|safe }}

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(forceStrength).distanceMax(maximumDistance).distanceMin(minimumDistance))
    .force("center", d3.forceCenter(width / 2, height / 2));

  var link = svg.append("g")
    .attr("class", "links")
  .selectAll("line")
    .data(graph.links, function(d) { return d.source.id + '-' + d.target.id})
    .enter().append("line")
    .style("stroke-width", function(d) { return Math.sqrt(d.value)});

  var node = svg.append("g")
    
  .selectAll("circle")
    .data(graph.nodes, function(d) {return d.id})
    .enter()
    .append("circle")
  .attr("class", "nodes")
    .attr("r", 5)
    .attr("fill", function(d) {return color[d.group]; })
    .attr("id", function(d) {return d.id; })
    .attr("onmouseover", "populateGraphTip(this)")
    .attr("onclick", "getNewNodes(this)")
    .call(d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended));

  var labels = svg.selectAll("text.labels")
    .data(graph.nodes)
    .enter().append("text")
    .attr("dx", -10)
    .attr("dy", ".35em")
    .attr("class", "labels")
    .attr("fill", "black")
    .text(function(d) { return d.name; });
  

  simulation
    .nodes(graph.nodes)
    .on("tick", ticked);
  
  simulation.force("link")
    .links(graph.links)

</script>

  <div id="graphtoggle">

  <form id="labeltoggle">Labels: 
    <input type="radio" name="labeltoggle" value="on" checked>On
    <input type="radio" name="labeltoggle" value="off">Off
  </form>
  </div>

  <div id="nodeinfo">
    <table>
      <tr>
        <th>Title</th>
        <td></td>
      </tr>
      <tr>
        <th>Author</th>
        <td></td>
      </tr>
      <tr>
        <th>Year</th>
        <td></td>
      </tr>
      <tr>
        <td colspan=2>Link</td>
      </tr>
    </table>
  </div>
</div>



{% endblock %}