{% extends "base.html" %}
{% block content %}

<h3>{{ location.place_name }}</h3>
<div class="section">

<div class="mstable">
  <table>
    <tr>
      <th>Manuscript</th>
      <th>Title</th>
    </tr>
  {% for ms in location.mss %}
    <tr>
      <td><a href="ms{{ ms.id }}">{{ ms.shelfmark }}</a></td>
      <td>{{ ms.titles.filter_by(title_type='main').first().title_text }}</td>
      </tr>
  {% endfor %}
  </table>
</div>

<div class="placemapholder">
  <div id="map">
    <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: {{ location.lat}}, lng: {{location.lon }} },
        zoom: 6,
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false
      });

      var image = '{{ url_for('static', filename='robbins_icon.gif') }}';
      var msMarker = new google.maps.Marker({
        position: {lat: {{ location.lat }}, lng: {{ location.lon }} },
        map: map,
        icon: image
      });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9rloC3_q9b1ZwhocaDBpuXaXyJeZkKjk&callback=initMap"></script>
  </div>
</div>

</div>

<!--canvases for d3 visualizations-->
<div class="section" id="relationvis">
</div>
<script src="static/d3.v4.min.js"></script>
<script>

//graph variables and update functions moved to script.js

var width = 800,
    height = 450;


var svg = d3.select("#relationvis").append("svg")
    .attr("id", "graphcanvas")
    .attr("width", width)
    .attr("height", height);

var graph = {{ graph|safe }}

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(forceStrength).distanceMax(maximumDistance).distanceMin(minimumDistance))
    .force("center", d3.forceCenter(width / 2, height / 2));

  var link = svg.append("g")
    .attr("class", "links")
  .selectAll("line")
    .data(graph.links, function(d) { return d.source.id + '-' + d.target.id})
    .enter().append("line")
    .style("stroke-width", function(d) { return Math.sqrt(d.value)});

  var node = svg.append("g")
    
  .selectAll("circle")
    .data(graph.nodes, function(d) {return d.id})
    .enter()
    .append("circle")
  .attr("class", "nodes")
    .attr("r", 5)
    .attr("fill", function(d) {return color[d.group]; })
    .attr("id", function(d) {return d.id; })
    .attr("onmouseover", "populateGraphTip(this)")
    .attr("onclick", "getNewNodes(this)")
    .call(d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended));

  var labels = svg.selectAll("text.labels")
    .data(graph.nodes)
    .enter().append("text")
    .attr("dx", -10)
    .attr("dy", ".35em")
    .attr("class", "labels")
    .attr("fill", "black")
    .text(function(d) { return d.name; });
  

  simulation
    .nodes(graph.nodes)
    .on("tick", ticked);
  
  simulation.force("link")
    .links(graph.links)
</script>
  <div id="graphtoggle">

  <form id="labeltoggle">Labels: 
    <input type="radio" name="labeltoggle" value="on" checked>On
    <input type="radio" name="labeltoggle" value="off">Off
  </form>
  </div>

  <div id="nodeinfo">
    <table>
      <tr>
        <th>Title</th>
        <td></td>
      </tr>
      <tr>
        <th>Author</th>
        <td></td>
      </tr>
      <tr>
        <th>Year</th>
        <td></td>
      </tr>
      <tr>
        <td colspan=2>Link</td>
      </tr>
    </table>
  </div>
</div>
</div>
{% endblock %}