{% extends "base.html" %}
{% block content %}

<h3>Watermark Briquet {{ mainwm.id }}, {{ mainwm.name }}</h3>
<div class="section">
<p><a target="_blank" rel="noopener noreferrer" href="{{ mainwm.url }}">View this watermark</a> <em>(external link to Briquet Online at the Austrian Academy of Sciences and Paris Laboratory for Western Medieval Studies)</em></p>
<br>
<p><b>Robbins manuscripts in which this watermark appears:</b></p>
<table>
	<tr>
		<th>MS</th>
		<th>Title</th>
		<th>Origin</th>
	</tr>
{% for ms in mainwm.mss %}
	<tr>
		<td><a href="ms{{ ms.id }}">{{ ms.shelfmark }}</a> </td>
		<td>{{ ms.titles.filter_by(title_type='main').first().title_text }}</td>
		<td>
		{% for place in ms.places %}
		<a href="{{ 'place' + (place.id|string) }}">{{ place.place_name }}</a>
    {% if loop.last == False %},{% endif %}  
		{% endfor %}
		</td>
	</tr>
{% endfor %}


</table>


</div>

<div class="section" id="relationvis">
</div>
<script src="static/d3.v4.min.js"></script>
<script>

//graph variables and update functions moved to script.js

var width = 800,
    height = 450;


var svg = d3.select("#relationvis").append("svg")
    .attr("id", "graphcanvas")
    .attr("width", width)
    .attr("height", height);

var graph = {{ graph|safe }}

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(forceStrength).distanceMax(maximumDistance).distanceMin(minimumDistance))
    .force("center", d3.forceCenter(width / 2, height / 2));

  var link = svg.append("g")
    .attr("class", "links")
  .selectAll("line")
    .data(graph.links, function(d) { return d.source.id + '-' + d.target.id})
    .enter().append("line")
    .style("stroke-width", function(d) { return Math.sqrt(d.value)});

  var node = svg.append("g")
    
  .selectAll("circle")
    .data(graph.nodes, function(d) {return d.id})
    .enter()
    .append("circle")
  .attr("class", "nodes")
    .attr("r", 5)
    .attr("fill", function(d) {return color[d.group]; })
    .attr("id", function(d) {return d.id; })
    .attr("onmouseover", "populateGraphTip(this)")
    .attr("onclick", "getNewNodes(this)")
    .call(d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended));

  var labels = svg.selectAll("text.labels")
    .data(graph.nodes)
    .enter().append("text")
    .attr("dx", -10)
    .attr("dy", ".35em")
    .attr("class", "labels")
    .attr("fill", "black")
    .text(function(d) { return d.name; });
  

  simulation
    .nodes(graph.nodes)
    .on("tick", ticked);
  
  simulation.force("link")
    .links(graph.links)
</script>
  <div id="graphtoggle">

  <form id="labeltoggle">Labels: 
    <input type="radio" name="labeltoggle" value="on" checked>On
    <input type="radio" name="labeltoggle" value="off">Off
  </form>
  </div>

  <div id="nodeinfo">
    <table>
      <tr>
        <th>Title</th>
        <td></td>
      </tr>
      <tr>
        <th>Author</th>
        <td></td>
      </tr>
      <tr>
        <th>Year</th>
        <td></td>
      </tr>
      <tr>
        <td colspan=2>Link</td>
      </tr>
    </table>
  </div>
</div>
</div>

{% endblock %}