{% extends "base.html" %}
{% block content %}

<h3>Watermark Briquet {{ mainwm.id }}, {{ mainwm.name }}</h3>
<div class="section">
<p><a href="{{ mainwm.url }}">View this watermark</a> <em>(external link to Briquet Online at the Austrian Academy of Sciences and Paris Laboratory for Western Medieval Studies)</em></p>
<br>
<p><b>Robbins manuscripts in which this watermark appears:</b></p>
<table>
	<tr>
		<th>MS</th>
		<th>Title</th>
		<th>Origin</th>
	</tr>
{% for ms in mainwm.mss %}
	<tr>
		<td><a href="ms{{ ms.id }}">{{ ms.shelfmark }}</a> </td>
		<td>{{ ms.titles.filter_by(title_type='main').first() }}</td>
		<td>
		{% for place in ms.places %}
		<a href="{{ 'place' + (place.id|string) }}">{{ place.place_name }}</a>
    {% if loop.last == False %},{% endif %}  
		{% endfor %}
		</td>
	</tr>
{% endfor %}


</table>


</div>

<div class="section" id="relationvis">
</div>
<script src="static/d3.min.js"></script>
<script>

var width = 490,
    height = 250;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#relationvis").append("svg")
    .attr("id", "graphcanvas")
    .attr("width", width)
    .attr("height", height);

  d3.json("/sendjson?entity=watermark&id={{mainwm.id}}", function(error, graph) {
  if (error) throw error;
  console.log(graph);

  force
      .nodes(graph.nodes)
      .links(graph.links)
      //.linkStrength(function(links) { return (links.value/20)};);
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

  var texts = svg.selectAll("text.label")
  	.data(graph.nodes)
  	.enter().append("text")
  	.attr("class", "label")
  	.attr("fill", "black")
  	.text(function(d) { return d.name; });
 /* node.append("text")
  	.attr("dx", 12)
  	.attr("dy", ".35em")
      .text(function(d) { return d.name; });
*/
  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });

    texts.attr("transform", function(d) {
        return "translate(" + (d.x +5) + "," + d.y + ")";
    });
  });
});

</script>

{% endblock %}